adobe-gensolve-26-firebase-adminsdk-ve2aq-66c3f5c389.json
./adobe-gensolve-26-firebase-adminsdk-ve2aq-66c3f5c389.json
/adobe-gensolve-26-firebase-adminsdk-ve2aq-66c3f5c389.json
adobe-gensolve-26-firebase-adminsdk-ve2aq-66c3f5c389
yolov8n.pt
/yolov8n.pt
./yolov8n.pt
node_modules
/node_modules
./node_modules
*/node_modules

*.mp4

*.pyc
/pycache/*
__pycache__/*
*/__pycache__
__pycache__/
__pycache__
../__pycache__/
*.pt

